*,*::before,*::after{
    box-sizing: border-box;
    border: none !important;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
}

.principal{
    background: url('../images/background.jpg');
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.boton-ppal, h6{
    letter-spacing: .1em;    
}

.login-btn{
    font-family: sans-serif !important;
}

.boton-ppal{
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

.login-btn{
    cursor: pointer;
}


.login-btn:focus{
    background-color: rgb(136, 50, 216);
}


.login-btn:active{
    background-color: rgb(133, 47, 214) ;
}

.btn-sign{
    font-size: .9em;
    border-radius: 25px;
    box-shadow: 0px 4px 12px rgba(32, 32, 32, 0.904);
    font-family: sans-serif;
}

.bg-primario{
    background-color: rgb(144, 71, 212);
}

.text-primario{
    color:rgb(144, 71, 212);
}

.container-form{
    background: #fff;
    border-radius: 12px;
}

.tabs{
    height: 10%;
    border-radius: 12px;
    background:rgb(144, 71, 212);
}

.tabs .tab1{
    border-top-left-radius: 12px;
}

.tabs .tab2{
    border-top-right-radius: 12px;
}


.tabs div:hover {
    cursor: pointer;
    background: rgb(157, 80, 228) !important;
    color: #fff !important;
}

.tabs .tabClicked{
    background:  #fff !important;
    color: rgb(157, 80, 228) !important;
}
.tabs .unClicked{
    background:  rgb(157, 80, 228) !important;
    color: #fff !important;
}


.formulario-registro .form-control{
    text-align: left !important;
    height: 4em;
}

#content2{
    display: none;
}





